.scante-select {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.scante-select-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.scante-select-dropdown {
    overflow-x: hidden !important;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.scante-select-option {
    padding: 0px 8px ;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
}

.scante-select-option:hover {
    background-color: #e3d6d6;
} 
.scante-select-dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}